@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

$primary: #f6da73;
$secondary: #e55b7e;
$third: #eab201;
$light : #f6f5f0;
$background:#f0f0f0;

