@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

$primary: #F6da73;
$secondary: #F4A261;
$light : #f6f5f0;
$background:#f0f0f0

